@import url("https://fonts.googleapis.com/css?family=Russo+One:regular");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Montserrat:wght@800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #47494a;
  display: flex;
  justify-content: center;
}
body.loaded .loader {
  transform: translate(100%, 0%);
}

.wrapper {
  width: 100%;
  position: relative;
}

.app {
  width: 500px;
  background-color: #1b1d1f;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 40px;
  border-radius: 20px;
  position: relative;
  overflow-x: hidden;
  padding: 30px 15px;
}
@media (max-width: 768px) {
  .app {
    margin-top: 0px;
    width: 100%;
    min-height: 100%;
    border-radius: 0px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__title {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}
.header__date {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #47494a;
  margin-top: 10px;
}
.header__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 30px;
}
.header__info {
  opacity: 0;
  transform: translate(-10%, 0%);
  transition: all 0.8s ease;
}
.header__info span {
  font-family: "Russo One";
  color: rgb(168, 168, 168);
  font-size: 16px;
}
.header__info._active {
  transition: all 0.6s ease-out;
  opacity: 1;
  transform: translate(0, 0%);
}
.header__temperature {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  color: #ffffff;
}
.header__description {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  /* identical to box height */
  color: #47494a;
}
.header__icon {
  opacity: 0;
  transform: translate(-10%, 0%);
  transition: all 0.8s ease;
}
.header__icon._active {
  transition: all 0.6s ease-out;
  opacity: 1;
  transform: translate(0, 0%);
}
.header__image {
  max-height: 100px;
}

.main__properties {
  margin-top: 20px;
  border-radius: 20px;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #202329;
  overflow: hidden;
}
@media (max-width: 768px) {
  .main__properties {
    padding: 10px;
  }
}

.main__property {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translate(-10%, 0%);
  transition: all 0.8s ease;
}
.main__property._active {
  transition: all 0.6s ease-out;
  opacity: 1;
  transform: translate(0, 0%);
}
.main__property:nth-child(2) {
  transition: all 0.8s ease-out 0.1s;
}
.main__property:nth-child(3) {
  transition: all 0.8s ease-out 0.2s;
}
.main__property:nth-child(4) {
  transition: all 0.8s ease-out 0.3s;
}

.property__image {
  color: white;
  width: 50px;
}
@media (max-width: 768px) {
  .property__image {
    width: 40px;
  }
}
.property__info {
  margin-top: 5px;
  text-align: center;
}
.property__info-value {
  font-family: "Chakra Petch";
}
.property__info-description {
  margin-top: 5px;
  font-family: "Russo One";
  color: #47494a;
}
@media (max-width: 768px) {
  .property__info-description {
    font-size: 10px;
  }
}

.menu__icon {
  position: absolute;
  display: block;
  top: 30px;
  right: 30px;
  width: 34px;
  height: 20px;
  z-index: 200;
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.menu__icon::before, .menu__icon::after {
  z-index: 4;
  content: "";
  background-color: #ffffff;
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 6px;
  width: 20px;
  height: 2px;
}
.menu__icon::before {
  top: 5px;
}
.menu__icon::after {
  bottom: 5px;
}
.menu__icon.menu-open {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: rotate(90deg);
  z-index: 400;
}
.menu__icon.menu-open::before {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: rotate(45deg);
  top: 9px;
  transition-delay: 0.1s;
}
.menu__icon.menu-open::after {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: rotate(-45deg);
  bottom: 9px;
  transition-delay: 0.1s;
}

.header__text {
  position: relative;
}

.menu__search {
  padding: 10px;
  background-color: #1b1d1f;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: -110%;
  transition: all 1s ease 0s;
  flex: 1 1 auto;
  gap: 20px;
  z-index: 100;
}
.menu__search.menu-open {
  transition: all 1s ease 0s;
  overflow: auto;
  z-index: 100;
  right: 0;
}
.menu__search form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  color: white;
  outline: none;
  background: none;
  font-size: 26px;
  border-bottom: 1px solid white;
}

.form-submit {
  color: white;
  font-size: 20px;
}

.tamplate {
  margin-top: 20px;
}
.tamplate__titles {
  display: flex;
  gap: 10px;
}
.tamplate__title {
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
  color: #47494a;
  /* identical to box height */
}
.tamplate__title.active {
  color: #ffffff;
}
.tamplate__cards {
  display: flex;
  gap: 7px;
  margin-top: 20px;
  overflow-y: auto;
  padding-bottom: 10px;
}
.tamplate__card {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 20px 20px;
  background: #202329;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translate(-10%, 0%);
  transition: all 0.4s ease;
}
.tamplate__card._active {
  transition: all 0.4s ease-out;
  opacity: 1;
  transform: translate(0, 0%);
}
.tamplate .tamplate__cards::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}
.tamplate .tamplate__cards::-webkit-scrollbar-track {
  background-color: inherit;
}
.tamplate .tamplate__cards::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.card__date {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 13px;
  /* identical to box height */
  color: #47494a;
}
.card__image {
  width: 50px;
  height: 50px;
}
.card__temp {
  margin-top: 5px;
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 13px;
  /* identical to box height */
  color: #ffffff;
}
.card__temp span {
  font-size: 14px;
  color: rgb(156, 156, 156);
}

.tamplate__fake-map {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
}
.tamplate__fake-map img {
  width: 100%;
}

.loader {
  transform: translate(0, 0);
  transition: all 0.3s ease 0.3s;
  width: 100%;
  position: absolute;
  min-height: 100%;
  background-color: #1b1d1f;
  z-index: 500;
}